*{
    padding: 0;
    margin: 0;
}
#game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    overflow: hidden;
}
#block {
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 400px;
}
@keyframes block {
    0%{left: 400px;}
    100%{left: -50px;}
}
#hole {
    width: 50px;
    height: 150px;
    background-color: #D5DBDB;
    position: relative;
    left: 400px;
    top: -500px;
    
}

#character {
    width: 20px;
    height: 20px;background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

#game p {
    text-align: center;
    padding-top: 50%;
    font-size: 25px;
}